{
   "tabWidth": 3,
   "printWidth": 90,
   "parser": "babel-ts",
   "trailingComma": "none",
   "arrowParens": "avoid",
   "endOfLine": "auto",
   "semi": true,
   "singleQuote": true,
   "bracketSameLine": false
}